<div class="container" style="padding: 20px; font-family: sans-serif">
  <div
    alva-ad-id="AE_AD_1773773281909"
    alva-ad-width="250"
    alva-ad-height="250"
    alva-ad-intrusive="true"
    alva-ad-interval="100"
    alva-ad-duration="3"
  ></div>

  <!-- <div alva-ad-id="AE_AD_1773849201147" alva-ad-width="250" alva-ad-height="250" alva-ad-intrusive="true" alva-ad-interval="6" alva-ad-duration="6" ></div> -->

  <h1 style="color: #1f6952">Test ADs ALVA</h1>
  <h3>Resultado de Ads Capturado</h3>

  <div
    *ngIf="adsResult; else noData"
    style="
      background: #f4f4f4;
      padding: 15px;
      border-radius: 8px;
      border: 1px solid #ddd;
    "
  >
    <h3>Respuesta del Servidor:</h3>
    <pre>{{ adsResult | json }}</pre>
 
    <!-- Mapa para mostrar la ubicación del data -->
    <div *ngIf="hasValidCoordinates" style="margin-top: 20px;">
      <h3>Ubicación en maps</h3>
      <div #mapContainer id="map" style="height: 400px; width: 100%; border-radius: 8px;"></div>
    </div>

  </div>

  <ng-template #noData>
    <p style="color: gray">Esperando respuesta del script de ads...</p>
  </ng-template>


</div>
